Package: diktemelfont
Version: 1.0
Architecture: all
Depends:
Pre-Depends: 
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: diktemelfont
Description: diktemelfont eklentisi
